# Core dependencies
streamlit==1.38.0
pandas==2.2.2   # will install precompiled wheel
numpy==1.26.4   # precompiled wheel
matplotlib==3.9.2
seaborn==0.13.2
openpyxl==3.1.5
xlsxwriter==3.2.0

# Optional: ensure pip can install precompiled binaries
--prefer-binary
